<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de CLPs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <h1>Monitoramento de CLPs</h1>

    <table>
        <thead>
            <tr>
                <th>Status CLP</th>
                <th>IP do CLP</th>
                <th>Endereço do BIT</th>
                <th>Status do BIT</th>
                <th>Toggle BIT</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemplo de linha da tabela -->
            <tr>
                <td><span class="status-indicator online"></span></td>
                <td>172.17.85.114</td>
                <td>B10:2/6</td>
                <td><span class="status-indicator bit-off"></span></td>
                <td><button class="toggle-button" onclick="toggleBit(this)">Toggle</button></td>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
        </tbody>
    </table>

    <script>
document.addEventListener('DOMContentLoaded', function() {

});


function getState() {
    //const url = 'https://api.exemplo.com/dados';  // Substitua com a URL da sua API
    const url = 'api/tag-status';  // Substitua com a URL da sua API

    fetch(url)
        .then(response => response.json())
        .then(data => {
            console.log(data.state);
            return data;
        })
        .catch(error => {
            console.error('Houve um problema com a requisição fetch get:', error);
        });
}


function setState(state) {
    const url = 'api/write-tag';  // Substitua com a URL da sua API

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ state: state })
    })
    .then(response => response.json())
        .then(data => {
            console.log('Post Sucess:', data)
        })
    .catch(error => {
        console.error('Houve um problema com a requisição fetch post:', error);
    });
}




function toggleBit(button) {
    let row = button.closest('tr');
    let bitStatus = row.querySelector('.status-indicator.bit-on, .status-indicator.bit-off');
    
    if (bitStatus.classList.contains('bit-on')) {
        setState(false);
    } else {
        setState(true);
    }

    let state = getState();
    if (state.tag) {
        bitStatus.classList.remove('bit-off');
        bitStatus.classList.add('bit-on');
    } else {
        bitStatus.classList.remove('bit-on');
        bitStatus.classList.add('bit-off');
    }
}
</script>

</body>

</html>
