<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de CLPs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <h1>Monitoramento de CLPs</h1>

    <table>
        <thead>
            <tr>
                <th>Status CLP</th>
                <th>IP do CLP</th>
                <th>Endereço do BIT</th>
                <th>Status do BIT</th>
                <th>Toggle BIT</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemplo de linha da tabela -->
            <tr>
                <td><span class="status-indicator online"></span></td>
                <td>172.17.85.114</td>
                <td>B10:2/6</td>
                <td><span class="status-indicator" id="status-indicator1"></span></td>
                <td><button class="toggle-button" onclick="toggleBit(this)">Toggle</button></td>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
        </tbody>
    </table>

    <script>
        function setState(state) {
            const url = 'api/write-tag';  // Substitua com a URL da sua API

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({state: state})
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Post Sucess:', data)
                })
                .catch(error => {
                    console.error('Houve um problema com a requisição fetch post:', error);
                });
        }




        function toggleBit(button) {
            let bitStatus = document.getElementById('status-indicator1')

            if (localState == true) {
                console.log("[Button] Send: setState(false)")
                setState(false);
                bitStatus.style.backgroundColor = 'red'
                localState = false;
            } else {
                console.log("[Button] Send: setState(true)")
                setState(true);
                bitStatus.style.backgroundColor = 'green'
                localState = true;
            }
        }

        function main(updateLocalState) {
            const url = 'api/tag-status';  // Substitua com a URL da sua API

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('GetState Internal:', data);
                    let bitStatus = document.getElementById("status-indicator1")
                    if (data.tag == true) {
                        bitStatus.style.backgroundColor = 'green';
                    } else if (data.tag == false) {
                        bitStatus.style.backgroundColor = 'red';
                    }
                    updateLocalState(data.tag);

                })
                .catch(error => {
                    console.error('Houve um problema com a requisição fetch get:', error);
                });
            
        }

        let localState;
        main(function (value) {
            localState = value;
        });

    </script>

</body>

</html>
